
.page-index-box{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid gray;
}
.pagination-container {
    margin: 10px;
    float: right;
    margin-right: 15%;
}
.page-index-active{
    background-color: lightgray;
}
.grid-container{
    clear: both;
}
